  
  <div id="loginDiv">
    <div id ="topBar">
      <p id="KBtitle">knowledge<span id="titleBase">Base</span></p>
      <form id="loginForm" action="/login" method="POST">
        <input id="loginFormInput" name="email" placeholder="email" type="email" required>
        <input id="loginFormInput" name="password" placeholder="password" type="password" required>
        <button id="loginFormButton"> Login</button>
      {{#if trueNotExist}}
       <p id = "error">Email or password incorrect</p>
      {{/if}}
      </form>
     
    </div>
    <div id="loginPicDiv">
      <img id="loginPic" src='https://i.ibb.co/TLnFXX0/vector-knowledge.jpg' alt="Books">
    </div>
    <div id="registerDiv">
      <h2 id="registerBlurb">Join the worlds largest community for knowledge sharing</h2>
      <form id=registerForm action="/register" method="POST">
        <input id="nameFormInput" name="firstname" placeholder="firstname" maxlength="20" type="text" required>
        <input id="nameFormInput" name="lastname" placeholder="lastname" maxlength="20" type="text" required>
        <br>
        <input id="registerFormInput" name="email" placeholder="email" type="email" maxlength="50" required>
        <input id="registerFormInput" name="password" placeholder="password" type="password" maxlength="20" required>
        <input id="registerFormInput" name="confirmpassword" placeholder="confirm password" type="password" maxlength="20" required>
        <button id="registerFormButton"> Sign Up</button>
          {{#if trueSame}}
         <p id = "error">Password is not same</p>
          {{/if}}
          {{#if trueExist}}
         <p id = "error">Email already exists</p>
          {{/if}}
      </form>
    </div>
  </div>
