<form action="/login" method="POST">
    <button >Click Here (Test Login)</button>
</form>

<div id="loginDiv">
  <p id="title">knowledge<span id="titleBase">Base</span></p>
  <img id="loginPic" src='https://i.ibb.co/TLnFXX0/vector-knowledge.jpg' alt="Books">
</div>
