<div id="regDiv">
  <div id="topBar2"
    <p id="KBtitle2">knowledge<span id="titleBase2">Base</span></p>
  </div>
  <div id="aboutYou">
    <h2>Let's us know a little more about you</h2>
  </div>
  <div id="registerTwoDiv">
    <form id="registerTwoForm" action="/userReg" method="POST">
      <input id="regTwoFormInput" name="imgurl" placeholder="imageurl" type="url" required>
      <input id="regTwoFormAbout" name="about" placeholder="a few lines about yourself" type="text" required>
      <input id="regTwoFormInput" name="country" placeholder="country" type="text" required>
    </br>
      <input id="regTwoFormInput" name="date" placeholder="Date of birth(mm/dd/yyyy)" type="date" required>
    </br>
      <button id="regTwoFormButton">complete registration</button>
    </form>
  </div>
</div>
