#loginDiv{
  display: table;
  margin: 0 auto;
}

#topBar {
  height: 50px;
}

#KBtitle{
  font-size: 22pt;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

#titleBase{
  color: rgb(43, 152, 255);
}

#loginForm{
  float: right;
  margin-left: 200px;
}

#loginFormInput{
  width: 125px;
  height: 25px;
}

#loginFormButton {
  color: white;
  height: 30px;
  width: 50px;
  background-color: rgb(43, 152, 255);
}

#loginPicDiv{
  float: left;
}

#loginPic{
  height: 325px;
  width: 325px;
  margin-top: 50px;
}

#registerDiv{
  float: right;
  width: 325px;
  margin-top: 30px;
  padding-left: 25px;
}

#nameFormInput{
  margin-top: 25px;
  width: 100px;
}

#registerFormInput{
  width: 208px;
  margin-top: 15px;
}

#registerFormButton {
  color: white;
  height: 30px;
  width: 212px;
  margin-top: 15px;
  background-color: rgb(43, 152, 255);
}
